* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

footer {
  background: #eeeeee;
  font-size: 18px;
  text-align: center;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
  background: #eeeeee;
  border-radius: 6px;
}

input:hover {
  box-shadow: inset 0px 0px 7px #eeeeee;
  background: #161925;
}

h1 {
  text-align: center;
  font-size: 42px;
  padding-bottom: 2rem;
}

label {
  text-align: left;
  font-size: 20px;
  padding-bottom: 1rem;
}

select {
  border-radius: 6px;
  border: 0ch;
  font-size: 16px;
  margin-bottom: 2rem;
  padding: .75rem;
}

input {
  color: #eeeeee;
  font-size: 18px;
  border: 0ch;
  border-radius: 6px;
  background: #161925;
  padding: 1rem;
}

iframe {
  height: 125%;
  width: 100%;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(133, 133, 133);
}

a:visited {
  color:rgb(133, 133, 133);
}

a:hover {
  color: black;
}

a:active {
  color: rgb(133, 133, 133);
}

.navbar {
  display: flex;
  background: #eeeeee;
}

.navitem {
  color: rgb(133, 133, 133);
  justify-content: center;
  background: #eeeeee;
  padding: 1rem;
}

.maingrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-row-gap: 0px;
  background-image: url(./img/OldWell.jpg);
  background-position: right;
  object-fit: cover;
  background-repeat: no-repeat;
}

.siteheader {
  font-family: 'Staatliches', cursive;
  text-align: center;
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
  font-size: 54px;
  color: #eeeeee;
  margin-bottom: 6px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #86BBD8;
}

.sitesubhead {
  font-size: 24px;
  font-family: 'Staatliches', cursive;
  text-align: center;
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
  align-self: flex-end;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: #86BBD8;
}

.secondcontentgrid {
  display: grid;
  grid-template-rows: repeat(4, 10rem);
  grid-template-columns: repeat(7, 1fr);
  background-color: #86BBD8;
}

.mapheader {
  color: #eeeeee;
  font-size: 42px;
  align-self: flex-end;
  text-align: center;
  font-family: 'Staatliches', cursive;
  grid-column: 3 / span 3;
  grid-row: 1 / span 1;
  margin-bottom: 2rem;
}

.mapgrid {
  grid-column: 2 / span 5;
  grid-row: 2 / span 2;
  align-items: center;
  text-align: center;
}

.aboutheader {
  grid-column: 1 / span 5;
  grid-row: 1 / span 2;
  text-align: center;
  align-self: center;
  align-items: center;
}

.belltower {
  align-items: center;
  text-align: center;
  grid-column: 1 / span 5;
  grid-row: 3 / span 2;
}

#bigtext {
  color: #eeeeee;
  font-size: 64px;
  font-family: 'Staatliches', cursive;
}

@media screen and (min-width: 540px) {
  .maingrid {
    padding-bottom: 3rem;
  }

  .secondcontentgrid {
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: repeat(4, 1fr);
  }

  .mapgrid {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
  }

  .mapheader {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
  }
}

@media screen and (min-width: 1080px) {
  .siteheader {
    font-size: 72px;
  }
}